

	<section class="container">
		<div class="card">
		    <div class="card-image">
		      	<img class="activator" src="img/contacto.jpg">
		      	<span class="card-title">CONTACTANOS</span>
		    </div>
		  
		    <div class="card-content">
		    	<div class="row">
		    		<div class="col m6">		    			
				    	<span class="card-title grey-text text-darken-4">¿Donde estamos?</span>
				    	<div class="divider"></div>
				    	<p>
				    		Eje Central Lazaro Cardenas 54 Local 303 Segundo Piso,México D.F.
						</p>

						<br><br>
		    		</div>
		    		<div class="col m6 s12 center-align">
		  
					  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1118.6227420102102!2d-99.14146187215823!3d19.430397328576735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x72d076a6213b26e8!2sDaseda!5e0!3m2!1ses!2smx!4v1468941704754"  height="350" frameborder="0" style="border:0; width:100%;" allowfullscreen></iframe>
						
		    		</div>
		    	</div>
				<br>
				<br>
				<div class="row">
					<div class="col m6 s12 center-align">
		    			<i class="zmdi zmdi-phone imagen-icon"></i>						
					</div>
					<div class="col m6 s12">
						<span class="card-title grey-text text-darken-4">Contactanos</span>
						<div class="divider"></div>
						<br>
						<p>
					    	Telefono: 55-18-17-47 <br>
							Email: info@daseda.net							
						</p>
					</div>
				</div>

				<br>
				<br>
				<br>

				<div class="row hide-on-small-only">
					<div class="col m6">
						<span class="card-title grey-text text-darken-4">Nuestras Redes Sociales</span>
						<div class="divider"></div>
						<br>
						<div class="center-align">
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-facebook"></i></a>
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-twitter"></i></a>
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-google-plus"></i></a>
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-instagram"></i></a>
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-youtube-play"></i></a>
						</div>
					</div>
		    		<div class="col m6 center-align">
		    			<i class="zmdi zmdi-share imagen-icon"></i>						
					</div>
				</div>

				<div class="row hide-on-med-and-up">
					<div class="col m6 s12 center-align">
		    			<i class="zmdi zmdi-share imagen-icon"></i>						
					</div>

					<div class="col m6 s12">
						<span class="card-title grey-text text-darken-4">Nuestras Redes Sociales</span>
						<div class="divider"></div>
						<br>
						<div class="center-align">
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-facebook"></i></a>
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-twitter"></i></a>
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-google-plus"></i></a>
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-instagram"></i></a>
					    	<a class="btn-large red btn-floating waves-effect waves-light btn-flat"><i class="zmdi zmdi-youtube-play"></i></a>
						</div>
					</div>
		    		
				</div>

				<br>
				<br>
				<br>

				<div class="row">
					<div class="col m12">
						<div class="center-align">
							<span class="card-title grey-text text-darken-4">¿Tienes Dudas o Algun Comentario?...Escribenos</span>							
						</div>
						<div class="divider"></div>
						<br>
				    	<div class="row">
						    <form class="col s12">
						      <div class="row">
						        <div class="input-field col s12">
						          <input id="nombre" type="text" class="validate">
						          <label for="nombre">Tu Nombre *</label>
						        </div>
						      </div>						   
						      <div class="row">
						        <div class="input-field col s12">
						          <input id="mail" type="email" class="validate">
						          <label for="mail">Tu E-mail *</label>
						        </div>
						      </div>
						      <div class="row">
						        <div class="input-field col s12">
						          <textarea id="textarea1" class="materialize-textarea"></textarea>
						          <label for="textarea1">Tu Mensaje *</label>
						        </div>
						      </div>
						    </form>
							<div class="center-align">
								<button class="btn waves-effect waves-light red" type="submit" name="action">Enviar
								    <i class="material-icons right">send</i>
								</button>
							</div>
						</div>
					</div>
				</div>
		    </div>
		    
		</div>
	</section>
	
	<!-- Inserta esta etiqueta en la sección "head" o justo antes de la etiqueta "body" de cierre. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'es-419'}
</script>
<!-- Inserta esta etiqueta donde quieras que aparezca Botón +1. -->

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


